<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/core-ajax/core-ajax.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<polymer-element name="contact-us">

  <template>
    <style>    
      :host {
        position: absolute;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
      }
      #aboutus-header {
        margin: 0 auto;
        color: #fff;
        font-weight: bold;
        font-size: 22px;
        position: absolute;
      }

      #submit_button {
        margin: 0 auto;
        color: #555;
        position: absolute;
        top: 375px;
        
        background-color: rgb(250, 247, 247);
      }

      #submit_button::shadow #ripple {
        color:#1597C7;
      }

      
      
    </style>
        
    <div fit>
    
    <form id="form" style="::content border: 1px solid #bebebe; padding: 10px; border-radius: 5px; margin: 0 auto; background-color: #fff;" action="http://0.0.0.0:3000/contact-api" method="POST" enctype="multipart/form-data">
    
    
    <div><paper-input floatinglabel label="Full Name:" type="text" id="name" value="{{name}}"required style="width:250px"></paper-input></div>
    <div><paper-input floatinglabel label="Email:" type="email" id="email" value="{{email}}"required></paper-input></div>
    <div><paper-input floatinglabel multiline label="Tell us about the car you want:" id="message" value="{{message}}"required></paper-input></div>
    <!-- <div><paper-dropdown-menu id="paper_dropdown" label="select car model"></paper-dropdown-menu></div> -->
    <paper-button  raised onclick="document.querySelector('#toast3').show()"type="submit" on-tap="{{doSend}}" raised id="submit_button">Submit</paper-button>
    <paper-toast id="toast3" class="capsule" text="Message sent" style="padding-right: 60px;"></paper-toast>
    
    </form></div>
    <core-ajax id="ajax" auto="false" method="post" contentType="application/json" url="/contact-api" body='{"name":"{{name}}", "email":"{{email}}", "message":"{{message}}"}' response="{{response}}"></core-ajax>
  </template>

  <script>
   
    Polymer('contact-us', {
      doSend: function(event, detail, sender){
         this.$.toast3.show();
         this.$.ajax.go();
         
      }
    });

  </script>

</polymer-element>