<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/core-ajax/core-ajax.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<polymer-element name="contact-us">

  <template>
    <style>    
      :host {
        position: absolute;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
      }
      #aboutus-header {
        margin: 0 auto;
        color: #fff;
        font-weight: bold;
        font-size: 22px;
        position: absolute;
      }

      #submit_button {        
        color: #555;        
        background-color: rgb(250, 247, 247);
      }

      #submit_button::shadow #ripple {
        color:#1597C7;
      }

      
      
    </style>
        
    <div fit>
    
    <form id="form" style="::content border: 1px solid #bebebe; padding: 15px; border-radius: 5px; margin: 0 auto; width : 300px; background-color: #fff;" action="http://0.0.0.0:3000/contact-api" method="POST" enctype="multipart/form-data">
    
    
    <div><paper-input floatinglabel label="Full Name:" type="text" validate="^[A-Za-z]*$" id="name" value="{{name}}"required style="width:285px"></paper-input></div>

    <div><paper-input floatinglabel label="Phone #:" type="number" error="not a valid number" validate="^[0-9]*$" id="phone" value="{{phone}}"required style="width:285px"></paper-input></div>

    <div><paper-input floatinglabel label="Email:" type="email" id="email" value="{{email}}"required style="width:285px"></paper-input></div>

    <div><paper-input floatinglabel label="Year Of Vehicle:" type="number" validate="^[0-9]*$" error="not a valid number"id="year" value="{{year}}"required style="width:285px"></paper-input></div>

    <div><paper-input floatinglabel label="Make:" type="text" validate="^[A-Za-z]*$" id="make" value="{{make}}"required style="width:285px"></paper-input></div>

    <div><paper-input floatinglabel label="Model:" type="text" id="model" value="{{model}}"required style="width:285px"></paper-input></div>

    <div><paper-input floatinglabel multiline label="Trim or Other Details"  id="message" value="{{message}}" style="width:285px"></paper-input></div>
    <!-- <div><paper-dropdown-menu id="paper_dropdown" label="select car model"></paper-dropdown-menu></div> -->
    <div><paper-button  raised onclick="document.querySelector('#toast3').show()"type="submit" on-tap="{{doSend}}" raised id="submit_button">Submit</paper-button></div>

    <paper-toast id="toast3" class="capsule" text="Message sent" style="padding-right: 60px;"></paper-toast>
    
    </form></div>
    <core-ajax id="ajax" auto="false" method="post" contentType="application/json" url="http://buycarsfrom.me:3000/contact-api" 
    body='{"name":"{{name}}", 
    "phone":"{{phone}}", 
     "email":"{{email}}", 
     "year":"{{year}}",
     "make":"{{make}}",
     "model":"{{model}}",
     "message":"{{message}}"}' response="{{response}}"></core-ajax>
  </template>

  <script>
   
    Polymer('contact-us', {

      doSend: function(event, detail, sender){
         this.$.ajax.go();
         this.$.toast3.show();
         this.$.name.value = "";
         this.$.phone.value = "";
         this.$.email.value = "";
         this.$.make.value = "";
         this.$.model.value = "";
         this.$.year.value = "";
         this.$.message.value = "";

         
      }
    });

  </script>

</polymer-element>
