<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../sample-content.html">
<link rel="import" href="../../bower_components/core-pages/core-pages.html">
<link rel="import" href="../../bower_components/core-scroll-header-panel/core-scroll-header-panel.html">
<polymer-element name="main-screen" attributes="menuTitle mainTitle">

  <template>
    <link rel="stylesheet" href="main-screen.css">
    <core-scaffold>

      <core-header-panel navigation flex>
        <core-toolbar>
          <span>{{menuTitle}}</span>
        </core-toolbar>
        <core-menu on-core-select="{{selectAction}}">
          <!-- num is personnalized attribute -->
          <core-item num="0" label="About Us" icon="android"></core-item>
          <core-item num="1" label="How to Buy" icon="bug-report"></core-item>
          <core-item num="2" label="Account" icon="account-circle"></core-item>
        </core-menu>
      </core-header-panel>
 
      <span tool>
        {{mainTitle}}
        <paper-shadow z="1"></paper-shadow>

      </span>
      <div><core-scroll-header-panel condeses flex main><core-toolbar class="tall"></core-toolbar></core-scroll-header-panel></div>
       <div fit class="content">
        <h1>Polymer Rocks!</h1>
        <core-pages id="pages" selected="0">
          <div><sample-content size="100"></sample-content></div>
          <div>This is How you buy from us</div>
          <div>You have selected "Account"</div>
        </core-pages>
      </div>

    </core-scaffold>
  </template>

  <script>

    Polymer("main-screen", {
      ready: function() {
        this.pages = this.$.pages;
      },
      selectAction: function (e, detail) {
        if (detail.isSelected) {
          var selectedItem = detail.item;
          this.pages.selected = selectedItem.attributes.num.nodeValue;
        }
      }
    });

  </script>

</polymer-element>