<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../sample-content.html">
<link rel="import" href="../../bower_components/core-pages/core-pages.html">
<link rel="import" href="../../bower_components/core-scroll-header-panel/core-scroll-header-panel.html">
<link rel="import" href="../../bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="about-us.html">
<link rel="import" href="../../bower_components/core-overlay/core-overlay.html">
<link rel="import" href="../../bower_components/core-icon-button/core-icon-button.html">
<link rel="import" href="../../bower_components/core-input/core-input.html">
<link rel="import" href="contact-us.html">
<link rel="import" href="locate-us.html">
<polymer-element name="main-screen" attributes="menuTitle mainTitle">

  <template>
    <link rel="stylesheet" href="main-screen.css">
    <core-scaffold>

      <core-header-panel navigation flex>
        <core-toolbar>
          <div id="navTitle">{{menuTitle}}</div>
        </core-toolbar>
        <core-menu on-core-select="{{selectAction}}">
          <!-- num is personnalized attribute -->
          <core-item num="0" label="About Us" icon="home"></core-item>
          <core-item num="1" core-overlay-toggle label="Contact Us" icon="mail"></core-item>
          <core-item num="2" label="The Team" icon="account-circle"></core-item>
          <core-item num="3" label="Locate Us" icon="file-map"></core-item>
          <core-item num="4" label="Testimonials" icon="announcement"></core-item>
        </core-menu>
      </core-header-panel>

      <div horizontal layout one flex center-justified tool>
        {{mainTitle}}
        <paper-shadow z="3"></paper-shadow></div>
        

      
      
       <div fit class="content">
        
        <h1><img src="../../resources/logo2.png"></h1>
        <core-pages id="pages" selected="0">
          <div><about-us size="1"></about-us></div>
          <div><contact-us></contact-us></div>
          <div>The Team</div>
          <div><locate-us></locate-us></div>
          <div>Testimonials</div>
      </div>

    </core-scaffold>
  </template>

  <script>

    Polymer("main-screen", {
      ready: function() {
        this.pages = this.$.pages;
      },
      selectAction: function (e, detail) {
        if (detail.isSelected) {
          var selectedItem = detail.item;
          this.pages.selected = selectedItem.attributes.num.value;
        }
      }
    });

  </script>

</polymer-element>